*{
    font-family: 'Courier New', Courier, monospace;
}

#main{
    background-color: gray;
}

h1.espacial{
    color: blue;
}
h2,h3{
    border: 1px solid orange;
}
li{
    color: red;
}
li li{
    color: green;
}

p > img{
    border: 5px solid green;
}

img[alt="segunda"]{
    color: red;
}

p~h3.antes{
    color: pink;
}
p + h3{
    background-color: blue;
}


